In [3]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [5]:
rows_with_sum_gt_100 = df2[df2.sum(axis=1) > 100]
rows_with_sum_gt_100

     0   1   2   3
2   23  35  26  34
3   31  24  15  36
6   16  11  39  35
9   25  19  36  32
12  13  32  32  35